<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Feminist Archaeology Reading Club in Japan</title>
    <link rel="stylesheet" href="{{ '/main.css' | relative_url }}" />
  </head>
  <body>
    <header class="columns">
      <div class="column left">
        <h1><a href="{{ '/' | relative_url }}">フェミニスト考古学<br>読書会</a></h1>
        <h2>
          <a href="{{ '/' | relative_url }}">Feminist Archaeology in Japan</a>
        </h2>
      </div>
      <div class="column right">
        <a href="{{ '/about' | relative_url }}">About</a>
      </div>
      </div>
      <div class="column right">
        <a href="{{ '/reading' | relative_url }}">Reading Club</a>
      </div>
     </div>
      <div class="column right">
        <a href="{{ '/topics' | relative_url }}">Topics</a>
      </div>
    </header>
    <section class="content">{{ content }}</section>
    <footer>
      Copyright &copy; 2021 Feminist archaeology reading club of Japan. This website is
      <a href="https://github.com/nishikarch/feministarchaeologyjapan"
        >open source</a
      >.
    </footer>
  </body>
</html>
